.AboutMe {
    display: grid;
    grid-template-areas: "me summary" "me resume";
    padding: 0 1rem;
}

.summary {
    grid-area: summary;
    margin: 2rem 3rem auto 0;
}

.me {
    grid-area: me;
    height: 12rem;
    width: 12rem;
    margin: 0 3rem 0 1rem;
}

.resume-link {
    height: 1.75rem;
    width: 5.5rem;
    background-color: #FAF158;
    border-radius: .5rem;
    padding: .25rem;
    justify-content: center;
    font-size: .9rem;
}

.resume-link:hover {
    color: black;
    background-color: #e1d84f;
}
