.AboutMe {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
}

.summary {
    padding-bottom: 1rem;
}

.me {
    height: 12rem;
    margin-right: 2rem;
}