.Project {
    position: relative;
    margin: 1rem;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

:hover.Project{
    cursor: pointer;
    color: gray;
}

.project-img {
    width: 15rem;
    height: 15rem;
    opacity: .5;
}

:hover.project-img {
    opacity: 1;
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
