.Project {
    position: relative;
    margin: 1rem;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    width: 15rem;
    height: 15rem;
}

.project-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all .3s;
    color:rgb(87, 87, 87);
}

.project-img:hover {
    cursor: pointer;
    color:rgb(119, 119, 119);
    transform: scale(1.05);
    opacity: .9;
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
}